/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 17, 2017, 5:36:32 PM
    Author     : xabertum
*/

.body_wrapper {
    
    width: 100%;
    
}

header {
    width: 100%;
    text-align: center;
}


#header_wrapper {
    max-width: 75%;
    margin: 0 auto;
    
}