/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 17, 2017, 5:36:32 PM
    Author     : xabertum
*/



@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: AbrahamLincoln;
    src: url(../fonts/AbrahamLincoln.ttf);
}



.body_wrapper {
    width: 100%;
}

header {
    width: 100%;
    text-align: center;
    position: absolute;
}


#header_wrapper {
    max-width: 75%;
    position: relative;
    margin: 5% auto;
}

#navbar_wrapper > ul > li {
    display: inline-block;
    color: white;
    padding: 2%;
    font-variant: small-caps;
    font-size: 1.2em;
}

#navbar_wrapper >ul >li:first-child {
    padding-left: 0%;

}

#phone_icon {
    float: right;
    padding-right: 3%;

}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: right;
    color: white;
    position: absolute;
    right: 4%;
    top: 90%;
    width: 30%;
    
}

.vertical-text > li {
    display: inline;
    padding-left: 5%;
    font-variant: small-caps;
    
}

#header_title {
    font-family: AbrahamLincoln;
    font-size: 100pt;
    color: #ffa800;
    font-variant: small-caps;
    
    
}

#header_subtitle {
    font-family: AbrahamLincoln;
    font-size: 40pt;
    color: white;
    font-variant: small-caps;
    line-height: 40px;
    
    
}